:host {
  .row {
    margin-bottom: 1rem;
  }

  mat-form-field {
    width: 100%;
  }

  mat-card-title {
    font-size: 13px;
  }

  mat-card-content {
    min-height: 80px;
    .row {
      margin-bottom: unset;
    }
    .logo {
      img {
        max-width: 150px;
        max-height: 150px;
      }

      label {
        color: rgba(0, 0, 0, 0.6);
        font-size: 10px;
      }
    }
  }

  mat-card {
    &.edit {
      border: 1px solid #3f51b56b;
    }
    &.invalid {
      border: 1px solid red;
    }
  }

  mat-card-header button {
    max-height: 30px;
    line-height: 30px;
  }

  ::ng-deep .mat-card-header-text {
    margin: 0;
  }
}
