<app-logo></app-logo>
<mat-card class="my-5 w-100">
    <mat-card-title>Reset your password</mat-card-title>
    <mat-card-content>
        <mat-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="emailCtrl">
                <ng-template matStepLabel>Insert your email</ng-template>

                <p class="my-3 text-center">Insert your email and request OTP code</p>
                <form class="mx-auto">
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input (keyup.enter)="emailCtrl.valid && sendResetEmail()" [formControl]="emailCtrl"
                                name="email" matInput />
                        </mat-form-field>
                    </div>

                    <div [dataLoading]="loading">
                        <button class="w-100 my-3" (click)="sendResetEmail()" [disabled]="!emailCtrl.valid"
                            type="button" color="primary" mat-raised-button>
                            Send reset email
                        </button>
                    </div>

                </form>
            </mat-step>

            <mat-step [stepControl]="otpCtrl">
                <ng-template matStepLabel>Confirm the OTP</ng-template>
                <p class="my-3 text-center">
                    Insert the OTP code you received by email
                </p>

                <form class="mx-auto">
                    <div class="form-group">
                        <ng-otp-input class="text-center" [formCtrl]="otpCtrl"
                            [config]="{length: 6, allowNumbersOnly: true}" name="otp" matInput>
                        </ng-otp-input>
                    </div>

                    <div [dataLoading]="loading">
                        <button class="w-100 my-3" (click)="confirmOtp()" [disabled]="!otpCtrl.valid" type="button"
                            color="primary" mat-raised-button>
                            Confirm otp code
                        </button>
                    </div>

                </form>
            </mat-step>

            <mat-step [stepControl]="newCredentialsGroup">
                <ng-template matStepLabel>Set new credentials</ng-template>
                <form class="mx-auto" [formGroup]="newCredentialsGroup">
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input type="password" formControlName="password" name="password" matInput />
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Repeat password</mat-label>
                            <input type="password" name="password-repeat" formControlName="passwordRepeat" matInput />
                        </mat-form-field>
                        <div *ngIf="!newCredentialsGroup.valid && newCredentialsGroup.dirty">
                            <p>Passwords do not match</p>
                        </div>
                    </div>
                    <div [dataLoading]="loading">
                        <button class="w-100 my-3" (click)="updatePassword()" [disabled]="!newCredentialsGroup.valid"
                            type="button" color="primary" mat-raised-button>
                            Confirm new password
                        </button>
                    </div>
                </form>
            </mat-step>

            <ng-template #resetCompleted>
                <p>New password succesfully set</p>
            </ng-template>
        </mat-stepper>
    </mat-card-content>
</mat-card>