.spacer {
  flex: 1 1 auto;
}

:host ::ng-deep{

  mat-toolbar {
    max-height: var(--topbar-height);
    overflow-x: hidden;
    
    .user-info {
      text-decoration: underline;
      font-size: 14px;
      font-weight: 500;
    }
  }
  
}
